blinker==1.9.0
cachetools==5.5.2
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
Flask==3.1.0
Flask-Cors==5.0.0
google-auth==2.38.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyJWT==2.10.1
python-dotenv==1.2.2
razorpay==2.0.1
requests==2.32.5
rsa==4.9.1
urllib3==2.6.3
Werkzeug==3.1.3
